* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.1);
  --switch-bg-url: url(./assets/moon-stars.svg);
  --subtitle-color: rgba(224, 224, 224, 0.801);
  --img-color: invert(1);
}
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
  --subtitle-color: rgba(0, 0, 0, 0.788);
  --img-color: invert(0);
}

body {
  /*background: color image repeat position/size */
  background: var(--bg-url) fixed top center/cover;
  height: 100vh;
}

body * {
  font-family: 'Signika', sans-serif;
  color: var(--text-color);
}
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#imgsystem{
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#imgsystem .img1{
  top: -550px;
  left: -1100px;
  position: absolute;
  z-index: 1;

  animation: rotation 120s infinite linear;
  opacity: 45%;
  filter: var(--img-color);
}
#imgsystem :hover{
  opacity: 55%;
}

#imgsystem span{
  display: block;
  z-index: 1;
}



#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 150px;
   
}


#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.dark #switch button {
  animation: slide-back 0.4s;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button:hover {
  outline: 5px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0px;
  font-size: 20px;
}
ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;

  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.4s;
}

/*pseudo-selector */
ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

.links-data #sub_data {
  text-align: center;
  padding: 10px;
  margin: 20px;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
}

.links-data #profile_data {
  font-size: 150%;
}

#title {
  
  margin: 20px;

  align-items: center;
  text-align: center;
  padding: 20px 0px 20px;
  font-size: 30px;
  font-weight: 500;
}

#subtitle{
  font-size: 30px;
  text-align: center;
  align-items: center;
}

#subtitle2{
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 30px;
}

#subtitle3{
  font-size: 23px;
  font-style: italic;
  margin-bottom: 15px ;
  color: var(--subtitle-color);
  font-weight: 300;

}
#content_data {
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  padding:10px;

  margin: 20px -200px;
  line-height:1.8;
}

#content_data p {
  font-size: 20px;
  margin-top: 30px;
}

#content_list{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}

#idiom {
  display: flex;
  font-size: 24px;
}

#idiom a{

  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 76px;
  
}

.loadingbar{
  color: #000;
  
  border: 1px solid var(--stroke-color);
  border-radius: 4px;
  min-width: 150px;
}
.w3-green{
  color: #000;
  background-color: var(--stroke-color);
}



#button_back a {
  display: flex;
  justify-content: center;

  padding: 14px 24px;
  margin: 40px 20px;

  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;
  font-size: 20px;

  transition: background 0.4s;
}
#button_back a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  padding: 24px 0px;
  justify-content: center;
  font-size: 24px;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: 0.2s;
}
#social-links a:hover {
  background: var(--highlight-color);
}
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
  color: var(--text-color);
}

@media (min-width: 700px) {
  
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

@media (max-width: 948px){
  #title{
    margin: auto;
  }
  #content_data{
    margin-left: auto;
    margin-right: auto;
  }
  #idiom {
    display: block;
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
  
}
